body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.card {
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.mod-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.suporteBtn{
    background-color: #52f943;
    color: white;
    border: none;
    top: 30px;
    text-decoration-line: none;
    padding: 13px 20px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    
}


button {
    background-color: #52f943;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

.download-hidden {
    display: none;
    margin-top: 15px;
}

p {
    font-weight: bold;
}



.qr-code {
    width: 150px;
    margin: 10px 0;
}

.download-hidden a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}
